<main>
  <p id="notice"><%= flash[:notice] %></p>
  <div class='container px-5 px-sm-0'>
    <div class='row'>
      <div class='col-md-3'>
        <h2>User info</h2>
        <table class='table'>
          <tr>
            <%= attachment_image_tag @movie.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "default-image.jpg" %>
          </tr>
          <tr>
            <th>name</th>
            <th><%= @movie.user.name %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= @movie.user.introduction %></th>
          </tr>
        </table>　 
        <div class='row'>
          <%= link_to edit_user_path(@movie.user.id), class: "btn btn-outline-secondary btn-block" do %>
          <i class="fas fa-user-cog"></i>
          <% end %>
        </div>
        <h2 class="mt-3">New movie</h2>
        <%= form_with model: @movie_new, local:true do |f| %>
        <p>Title</p>
        <%= f.text_field :title %>
        <p>Opinion</p>
        <%= f.text_area :body %>
        <%= f.submit 'Create Movie', class: "btn btn-success" %>
        <% end %>
      </div>
      <div class='col-md-8 offset-md-1'>
        <h2>Movie detail</h2>
        <% if @movie.user == current_user %>
        <table class='table table-hover table-inverse'>
          <tbody>
            <tr>
              <th>
                <%= link_to user_path(@movie.user.id) do %>
                <%= attachment_image_tag @movie.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "default-image.jpg" %>
                <% end %>
                <p><%= link_to @movie.user.name, user_path(@movie.user.id) %></p>
              </th>
              <th>
                <%= link_to  @movie.title, movie_path(@movie.id) %>
              </th>
              <th><%= @movie.body %></th>
              <th><%= link_to "Edit", edit_movie_path(@movie.id), class: "btn btn-success" %></th>
              <th><%= link_to "Destroy", movie_path(@movie.id), method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-danger" %></th>
            </tr>
          </tbody>
        </table>
        <% else %>
        <table class='table table-hover table-inverse'>
          <tbody>
            <tr>
              <th>
                <%= link_to user_path(@movie.user.id) do %>
                <%= attachment_image_tag @movie.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "default-image.jpg" %>
                <% end %>
                <p><%= link_to @movie.user.name, user_path(@movie.user.id) %></p>
              </th>
              <th>
                <%= link_to  @movie.title, movie_path(@movie.id) %>
              </th>
              <th><%= @movie.body %></th>
            </tr>
          </tbody>
        </table>
        <% end %>
        <% unless @movie.post_comments.count == 0 %>
        <h2>Comments</h2>
        <table class='table table-hover table-inverse'>
          <thead>
            <tr>
              <th>User</th>
              <th>Comment</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @movie.post_comments.each do |post_comment| %>
            <tr>
              <th><%= link_to post_comment.user.name, user_path(post_comment.user.id) %></th>
              <th><%= post_comment.comment %></th>
              <% if (post_comment.user == current_user) || (@movie.user == current_user) %>
              <th><%= link_to "Destroy", movie_post_comment_path(post_comment.movie, post_comment), method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-danger" %></th>
              <% else %>
              <th></th>
              <% end %>
            </tr>
            <% end %>
          </tbody>
        </table>
        <% end %>
        <h2>New comment</h2>
        <%= form_with(model:[@movie, @post_comment]) do |f| %>
        <%= f.text_area :comment  %>
        <div><%= f.submit "Create Comment", class: "btn btn-success" %></div>
        <% end %>
      </div>
    </div>
  </div>
</main>